## Converts rack/build to universal/application.
## @name Convert rack/build To universal/application
## @func convert_rack_build_to_universal_application
## @icon columns
function convert_rack_build_to_universal_application() {
{{ if .ParamExists "rack/build" }}
  local _profile="universal-application-unknown"

  rb=$(drpcli machines get $RS_UUIR param rack/build --aggregate | jq -r .)
  echo "Setting universal/application to $rb"
  drpcli machines set $RS_UUID param universal/application to "${rb// /_}" >/dev/null
{{ else }}
  echo "Not setting universal/application because rack/build is not set."
{{ end }}
}

## Sets universal/hardware to $hardware.
## @name Set Hardware Param
## @func set_hardware_param
## @icon microchip
function set_hardware_param() {
  # This sets hardware
  ERROR=0
  {{ template "universal-hardware-helper.tmpl" . }}
  if [[ "$ERROR" == "1" ]] ; then
  echo "Errors found stopping."
  exit 1
  fi

  echo "Setting universal/hardware to '$hardware'"
  drpcli machines set $RS_UUID param universal/hardware to "$hardware" >/dev/null
}
